.team-page {
	width: 100vw;
}
.team-grid {
	width: 60%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(190px, 2fr));
	gap: 2rem;
}

.tcard {
	width: 130px;
	height: 190px;
	background: #f5f5f5;
	padding: 2rem 1.5rem;
	transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.tcard-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.tcard-avatar {
	--size: 60px;
	background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	transition: transform 0.2s ease;
	margin-bottom: 1rem;
}
.tcard-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/*tCard footer*/
.tcard-social {
	transform: translateY(200%);
	display: flex;
	justify-content: space-around;
	width: 100%;
	opacity: 0;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.tcard-social__item {
	list-style: none;
}

.tcard-social__item svg {
	display: block;
	height: 18px;
	width: 18px;
	fill: #515f65;
	cursor: pointer;
	transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.tcard-title {
	color: #333;
	font-size: 1.5em;
	font-weight: 600;
	line-height: 2rem;
}

.tcard-subtitle {
	/* position: absolute; */
	/* margin-top: 12rem; */
	color: #859ba8;
	font-size: 0.8em;
}

/*Hover*/
.tcard:hover {
	box-shadow: 0 8px 50px #23232333;
}

.tcard:hover .tcard-info {
	transform: translateY(-5%);
}

.tcard:hover .tcard-social {
	transform: translateY(100%);
	opacity: 1;
}

.tcard-social__item svg:hover {
	fill: #232323;
	transform: scale(1.1);
}

.tcard-avatar:hover {
	transform: scale(1.1);
}
