.Navbar {
	width: 100vw;
	height: 7vh;
	background-color: #0d0d0f;
	color: white;
	font-family: Montserrat;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
